table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.filter {
  // border: 1px solid gray;
  background: white;
  height: 90px;
  right: -40vw;
  margin: 10px;
}

.clickable {
  cursor: pointer;
  font: small;
}
